@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
  font-family: 'Fredoka One', cursive;
  letter-spacing: 2px !important;
  color: #1C3E6E;
}

p {
  color: #8198B8;
}

span label {
  text-align: center; 
}

.row h5 {
  padding-left: 5%;
}

.course-description {
  font-size: smaller;
  color: #35598b;
  margin-right: 2%;
}

.course-general-info .row {
  padding-left: 5%;
  font-size: smaller;
  color: #8198B8;
}

.page-content {
  background-color: #F2F4F8;
}

.course-template {
  padding: 2% 0;
}

.course-template .course-title {
  padding-top: 5%;;
  padding-bottom: 3%;
}

.col-item {
  background-color: white;
  border-radius: 15px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 2%;
  padding-bottom: 2%;
}

.course-template .syllabus {
  vertical-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.course-template .col-item h3 {
  margin-top: 30px;

}

.course-template .col-item h4 {
  margin-top: 5%;

}

.course-template .col-item p {
  padding: 1% 5%;
  color: #5C779C;
}

.course-template .course-description, .course-requisite {
  margin-left: 0;
}

.requisites-display {
  margin-top: 2% !important;
  background-color: #EFF3FB;
  margin-left: 3%;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 2%;
}

.req-list {
  list-style: none;
  padding-inline-start: 0;
  display: inline-block;
  padding: 2% 5%;
}

.req-list ::after {
  content: ', '; 
}

.req-list :last-child:after {
  content: "";
}

.req-list a {
  color: #5C779C;
  text-decoration: none;
}


.requisites-display.corequisites {
  background-color: #DFF0CA;
}

.requisites-display.exclusions {
  background-color: #eec1be;
}

.expand_button {
  margin-top: -5%;
}

.syllabus-link {
  margin-top: 2%;
    border-radius: 15px;
    background-color: #1C3E6E;
    color: white;
    width: 8em;
    height: 3em;
    border: none;
    font-size: 1.2em;
    text-align: center;
}

.req-graph {
  border: none;
  width: 60%;
  margin-left: 5%;
  justify-content: center;
  margin-bottom: 2%;
}

.course-offering table {
  width: 100%;
  margin-top: 2%;
}

.course-offering tr th:nth-child(4),tr td:nth-child(4), tr th:nth-child(6),tr td:nth-child(6), tr th:nth-child(7),tr td:nth-child(7){  
  display:none; 
}