@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    font-family: 'Fredoka One', cursive;
    letter-spacing: 3px !important;
    color: #1C3E6E;
    overflow-x: hidden;
}

p {
    color: #8198B8;
}

.minor-cert-page-content {
    background-color: RGB(232, 236, 241);
}

.minors-heading {
    padding: 10px;
}

.certs-heading {
    padding: 10px;
}

.minors-template-card {
    border-radius: 10px;
    padding: 3%;
    margin: 20px 20px 20px 20px;
    background-color: #8198B8;
}

.certs-template-card {
    border-radius: 10px;
    padding: 3%;
    margin: 20px 20px 20px 20px;
    background-color: #8198B8;
}

.minor-certificates-template {
    padding: 3%;
}

.minors-col-item,
.certs-col-item {
    padding: 1%;
    margin: 5px 5px 5px 5px;
    background-color: RGB(242, 241, 239);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.minors-col-item h3,
.certs-col-item h3 {
    padding: 1%;
    font-size: large;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
}